{% extends "shop/shop_base.html" %}
{%block body%}


<div class="d-flex justify-content-center pt-5 mt-5">
  <form class="form-group form-control col-10 pt-5 " action="." method="post" enctype="multipart/form-data">
    {% for field in u_form.visible_fields %}
    <div class="form-group row   d-flex justify-content-center">
        <label class=" form-text col-md-2 " for="{{field.name}}">{{field.name}}</label>
        <input class="form-control col-md-5  " id="{{field.name}}" type="{{field.name}}" name="{{field.name}}" value="">
    </div>
    {% endfor %}

    {% for field in pw_form.visible_fields %}

    <div class="form-group row   d-flex justify-content-center">
        <label class=" form-text col-md-2 " for="{{field.name}}">{{field.name}}</label>
        <input class="form-control col-md-5  " id="{{field.name}}" type="password" name="{{field.name}}" value="">
    </div>
    {% endfor %}



            {% if a_form %}

            {% with a_form.visible_fields|first as field %}
            <div class="form-group row   d-flex justify-content-center">
              <label class=" form-text col-md-2 " for="{{field.name}}">{{field.name}}</label>
              <input class="form-control-file col-md-5  " id="{{field.name}}" type="file" name="{{field.name}}" value="">
                </div>
                {% endwith %}

                {% with a_form.visible_fields|last as field %}
                <div class="form-group row   d-flex justify-content-center">
                  <label class=" form-text col-md-2 " for="{{field.name}}">{{field.name}}</label>
                  <input class="form-control  col-md-5  " id="{{field.name}}" type="text" name="{{field.name}}" value="">
                    </div>
                    {% endwith %}


            {% endif %}
          <div class="form-group row   d-flex justify-content-center">
        <input class="btn btn-primary " type="submit" name="" value="Edit my account">
        </div>

  {% csrf_token %}
  </form>
</div>

{% endblock %}
